# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/testsprite_tests

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDEs
.idea
.vscode
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# Optional
.eslintcache
