.forecastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.forecastCard {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(5px);
    border: none !important;
    color: white !important;
    width: 150px;
    text-align: center;
    
    img {
        width: 50px;
        height: 50px;
    }

    .description {
        font-size: 0.8rem;
        text-transform: capitalize;
    }
}
